.scores {
  text-align:center;
  font-size:20px;
}

.scores .panel,
.scores .input-group {
   max-width: 300px;
   margin: 10px auto 0 auto;
}

.scores .panel .rank {
  position: relative;
  left: -131px;
  top: -15px;
  font-size: 15px;
}

.scores .panel .name {
  position: relative;
  top: 15px;
  left: -60px;
  font-size:15px;
}

.scores .panel .date {
  font-size: 15px;
  position: relative;
  left: 60px;
  top: 15px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}