
body {
  padding-top: 60px;
}

.main-container {
  padding: 40px 15px;
  text-align: center;
}

.scores {
  text-align:center;
  font-size:20px;
}

.scores .panel,
.scores .input-group {
   max-width: 450px;
   margin: 10px auto 0 auto;
}

.scores .panel .rank {
  float:left;
  font-size: 15px;
}

.scores .panel .name {
  float:left;
  font-size:15px;
}

.scores .panel .date {
  font-size: 15px;
  float:right;
}

.scores .panel-success{
	border-width: 5px;
	font-weight: bold;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
