<template name="highScores">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <img src="{{backglass}}" alt="backglass" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
       {{> scoreAdd }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 centered-pills">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="{{#if highScoreActive }}active{{/if}}"><a href="#" id="show-high-scores">High Scores</a></li>
        <li role="presentation" class="{{#if lowScoreActive }}active{{/if}}"><a href="#" id="show-low-scores">Low Scores</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h1>All Time</h1>
      {{> scoreList allTime }}
    </div>
    <div class="col-sm-6 col-md-3">
      <h1>This Month</h1>
      {{> scoreList thisMonth }}
    </div>
    <div class="col-sm-6 col-md-3">
      <h1>This Week</h1>
      {{> scoreList thisWeek }}
    </div>
    <div class="col-sm-6 col-md-3">
      <h1>Today</h1>
      {{> scoreList today }}
    </div>
  </div>
  {{> scoreModal selectedScore }}
</template>