<template name="scoreItem">
  <div class="panel {{#if ownScore}}panel-success{{else}}panel-default{{/if}}">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3 avatar">
          <img src="{{ avatar }}" alt="user img" class="img-responsive" />
        </div>
        <div class="col-xs-9">
          <span class="rank">#{{index}}</span> 
          <span class="date">{{ formatDate submitted "MM/DD/YYYY" }}</span>
          <span class="score">{{ score.toLocaleString }}</span>
          <span class="name">{{name}}</span>
          <span class="comment-count"><i class="fa fa-comments-o"></i> {{ commentCount _id }}</span>
        </div>
      </div>
    </div>
  </div>
</template>